

#amazon-style{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    /* display: flex; */
}

#div2{
    /* display: flex; */
}